<!-- service -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <!-- <h5 class="section-title-sm">Best Service</h5> -->
        <h2 class="section-title section-title-border">Annuaire</h2>
      </div>
      
        <div id="phonebook">
         <list-item></list-item>
        </div>  

      <!-- <div>


        {{ $url := "https://docs.google.com/spreadsheets/d/1DCtDFPbCudg08RWcp5ckDfQMh7GSN7WQR1EzAgVTKXQ/export?single=true&output=csv" }}
        {{ $sep := "," }}
        {{ range $i, $r := getCSV $sep $url }}  

        <div class="ann-container">
          <div>
            <img class="ann-image" src="{{ index $r 14 }}" />
          </div>
          <div class="ann-data">
            <p> {{ index $r 2 }} {{ index $r 3 }} </p>
            <p> {{ index $r 5 }}, {{ index $r 6 }} </p>
          </div>
        </div>
        {{ end }}

      </div> -->



    </div>
  </div>
</section>
<!-- /service -->
 
<!-- 
  1.Votre Nom
  2.Votre Prenom
  3.Votre numero de téléphone
  4.Quelle est votre promotion?
  5.Votre specialité de formation?
  6.Quel était votre theme de mémoire?
  7.Quel était le nom de votre encadreur?
  8.Etes-vous déjà employé?
  9.Si oui,quel poste occupez vous?	10.De quelle entreprise s'agit il?
  11.Avez-vous une start-up/entreprise?	12.Si oui,laquelle et dans quoi fait elle?
  13.Votre photo de 
-->