<!-- blog -->
<section class="section bg-primary">

  <div class="row">
    <div class="col text-center">
      <!-- <h5 class="section-title-sm">Latest News</h5> -->
      <h2 class="section-title section-title-border-gray">GC App</h2>
    </div>
  </div>

  <div class="col text-center">
    <p class=" text-white font-size-0">
      Découvrez l'application mobile GC App développé par la commission Hi-Tech du club Génie Civil de l'ENSTP
    </p>
  </div>

  <div class="row">
    <div class="col text-center">
      <a target="_blank"
        href="https://drive.google.com/file/d/1nUUStLVVOj4XGiOLdwvF9VKPEHrYkxVr/view?usp=sharing"
        class="btn btn-secondary">Télécharger</a>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <p>
        <i class="text-white font-size-4">Rejoignez la commission Hi-Tech en cliquant sur ce <a target="_blank"
          href="https://forms.app/form/607621a89504365c9c5e68fc">lien</a> </i>
      </p>
    </div>
  </div>

</section>
<!-- /blog -->