<!-- civil space magazine -->
<section class="section bg-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <h5 class="section-title-sm">Our Works</h5> -->
        <h2 class="section-title section-title-border-gray">Civil Space</h2>
      </div>
    </div>
    <!-- civil space -->
    <div class="row">

      <!-- civil space item -->
      <div href="/civil-space/edition-11" class="col-lg-3 col-md-4 col-sm-6 p-0">
        <div class="position-relative">
          <img class="img-fluid w-100" src="/images/civil-space/11.jpg" alt="project-image">
          <div class="project-info">
            <a href="/civil-space/edition-11" class="h4">11<sup>th</sup> Edition</a>
            <p><i class="ti-tag"></i>Civil Space</p>
          </div>
        </div>
      </div>

      <!-- civil space item -->
      <div href="/civil-space/edition-10" class="col-lg-3 col-md-4 col-sm-6 p-0">
        <div class="position-relative">
          <img class="img-fluid w-100" src="/images/civil-space/10.jpg" alt="project-image">
          <div class="project-info">
            <a href="/civil-space/edition-10" class="h4">10<sup>th</sup> Edition</a>
            <p><i class="ti-tag"></i>Civil Space</p>
          </div>
        </div>
      </div>

      <!-- civil space item -->
      <div href="/civil-space/edition-9" class="col-lg-3 col-md-4 col-sm-6 p-0">
        <div class="position-relative">
          <img class="img-fluid w-100" src="/images/civil-space/9.jpg" alt="project-image">
          <div class="project-info">
            <a href="/civil-space/edition-9" class="h4">9<sup>th</sup> Edition</a>
            <p><i class="ti-tag"></i>Civil Space</p>
          </div>
        </div>
      </div>

      <!-- civil space item -->
      <div href="/civil-space/edition-8" class="col-lg-3 col-md-4 col-sm-6 p-0">
        <div class="position-relative">
          <img class="img-fluid w-100" src="/images/civil-space/8.jpg" alt="project-image">
          <div class="project-info">
            <a href="/civil-space/edition-8" class="h4">8<sup>th</sup> Edition</a>
            <p><i class="ti-tag"></i>Civil Space</p>
          </div>
        </div>
      </div>

      <!-- civil space item -->
      <div href="/civil-space/edition-7" class="col-lg-3 col-md-4 col-sm-6 p-0">
        <div class="position-relative">
          <img class="img-fluid w-100" src="/images/civil-space/7.jpg" alt="project-image">
          <div class="project-info">
            <a href="/civil-space/edition-7" class="h4">7<sup>th</sup> Edition</a>
            <p><i class="ti-tag"></i>Civil Space</p>
          </div>
        </div>
      </div>

      <!-- civil space item -->
      <div href="/civil-space/edition-6" class="col-lg-3 col-md-4 col-sm-6 p-0">
        <div class="position-relative">
          <img class="img-fluid w-100" src="/images/civil-space/6.jpg" alt="project-image">
          <div class="project-info">
            <a href="/civil-space/edition-6" class="h4">6<sup>th</sup> Edition</a>
            <p><i class="ti-tag"></i>Civil Space</p>
          </div>
        </div>
      </div>

      <!-- civil space item -->
      <div href="/civil-space/edition-5" class="col-lg-3 col-md-4 col-sm-6 p-0">
        <div class="position-relative">
          <img class="img-fluid w-100" src="/images/civil-space/5.jpg" alt="project-image">
          <div class="project-info">
            <a href="/civil-space/edition-5" class="h4">5<sup>th</sup> Edition</a>
            <p><i class="ti-tag"></i>Civil Space</p>
          </div>
        </div>
      </div>

      <!-- civil space item -->
      <div href="/civil-space/edition-4" class="col-lg-3 col-md-4 col-sm-6 p-0">
        <div class="position-relative">
          <img class="img-fluid w-100" src="/images/civil-space/4.jpg" alt="project-image">
          <div class="project-info">
            <a href="/civil-space/edition-4" class="h4">4<sup>th</sup> Edition</a>
            <p><i class="ti-tag"></i>Civil Space</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- /civil space magazine -->