
  <!-- service -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <!-- <h5 class="section-title-sm">Best Service</h5> -->
          <h2 class="section-title section-title-border">Commissions</h2>
        </div>
  
        <!-- {{ range first 10 .Pages }}
        <article>
          <div>
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{ .Summary }}
          </div>
          {{ if .Truncated }}
          <div>
            <a href="{{ .RelPermalink }}">Read More…</a>
          </div>
          {{ end }}
        </article>
        {{ end }} -->
  
        <!-- commission item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card text-center">
            <h4 class="card-title pt-3">Cours de soutient</h4>
            <div class="card-img-wrapper">
              <img class="card-img-top rounded-0"
                src="/images/commissions/cfls.jpg"
                alt="clubgcenstp-commission-image">
            </div>
            <div class="card-body p-0">
              <i class="square-icon translateY-33 rounded ti-server"></i>
              <p class="card-text mx-2 mb-0">
                Le soutien scolaire est l’aide individuelle dispensée aux élèves, et qui offre une solution aux difficultés
                qu’affrontent de nombreux élèves à travers des séances individuelles...
              </p>
              <a href="/commissions/cours-de-soutient"
                class="btn btn-secondary translateY-25">Read More</a>
            </div>
          </div>
        </div>


        <!-- commission item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card text-center">
            <h4 class="card-title pt-3">Projet Associative</h4>
            <div class="card-img-wrapper">
              <img class="card-img-top rounded-0" src="/images/commissions/projet-associative-small.jpg"
                alt="clubgcenstp-commission-image">
            </div>
            <div class="card-body p-0">
              <i class="square-icon translateY-33 rounded ti-thought"></i>
              <p class="card-text mx-2 mb-0">
                Pour son premier et unique mandat, le président du club Génie Civil de l’Ecole Nationale Supérieure des Travaux Publics
                de Yaoundé (ENSTP-Ydé) mis les petits plats dans les grands. Dans l’exercice de ses fonctions...
              </p>
              <a href="/commissions/projet-associative" class="btn btn-secondary translateY-25">Read More</a>
            </div>
          </div>
        </div>
        

        <!-- commission item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card text-center">
            <h4 class="card-title pt-3">Sortie Pédagogique</h4>
            <div class="card-img-wrapper">
              <img class="card-img-top rounded-0" src="/images/commissions/csps.jpg" alt="clubgcenstp-commission-image">
            </div>
            <div class="card-body p-0">
              <i class="square-icon translateY-33 rounded ti-thought"></i>
              <p class="card-text mx-2 mb-0">
                Sortie pédagogiques des membres du club GC...
              </p>
              <a href="/commissions/sortie-pedagogique" class="btn btn-secondary translateY-25">Read More</a>
            </div>
          </div>
        </div>
<!--   
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card text-center">
            <h4 class="card-title pt-3">Hi-Tech</h4>
            <div class="card-img-wrapper">
              <img class="card-img-top rounded-0"
                src="https://via.placeholder.com/512x288.jpg"
                alt="clubgcenstp-commission-image">
            </div>
            <div class="card-body p-0">
              <i class="square-icon translateY-33 rounded ti-server"></i>
              <p class="card-text mx-2 mb-0">Marketing Oriented To The Targated Customers Lorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a href="/commissions/hi-tech"
                class="btn btn-secondary translateY-25">Read More</a>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card text-center">
            <h4 class="card-title pt-3">Formation Logiciel</h4>
            <div class="card-img-wrapper">
              <img class="card-img-top rounded-0" src="/images/commissions/cfls.jpg"
                alt="clubgcenstp-commission-image">
            </div>
            <div class="card-body p-0">
              <i class="square-icon translateY-33 rounded ti-thought"></i>
              <p class="card-text mx-2 mb-0">Marketing Oriented To The Targated Customers Lorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a href="/commissions/formation-logiciel" class="btn btn-secondary translateY-25">Read More</a>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card text-center">
            <h4 class="card-title pt-3">Commission</h4>
            <div class="card-img-wrapper">
              <img class="card-img-top rounded-0" src="https://via.placeholder.com/512x288.jpg"
                alt="clubgcenstp-commission-image">
            </div>
            <div class="card-body p-0">
              <i class="square-icon translateY-33 rounded ti-thought"></i>
              <p class="card-text mx-2 mb-0">Marketing Oriented To The Targated Customers Lorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a href="/commissions/commission" class="btn btn-secondary translateY-25">Read More</a>
            </div>
          </div>
        </div>
   -->

      </div>
    </div>
  </section>
  <!-- /service -->

