<!-- <div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{ $currentNode := . }}
        
        {{ range .Site.Menus.main }}
            {{.Pre}}
            <li class="nav-opened{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}} nav-current{{end}}" role="presentation">
            	<a href="{{.URL}}">{{.Name}}</a>
            </li>
        {{end}}
    </ul>
    
    {{ if .Site.Params.RSSLink}}
    <a class="subscribe-button icon-feed" href="{{.Site.Params.RSSLink }}">Subscribe</a> </div>
    {{else}}
    <a class="subscribe-button icon-feed" href="{{if .IsNode}}{{.RSSLink}}{{else}}{{ .Site.BaseURL }}index.xml{{end}}">Subscribe</a>
    {{end}}
</div>
<span class="nav-cover"></span> -->


<!-- navigation -->
<header>
    <!-- top header -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline text-lg-right text-center">
                        <li class="list-inline-item">
                            <a href="mailto:clubgcenstp@gmail.com">clubgcenstp@gmail.com</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="register-link btn btn-primary btn-sm"
                            href="https://forms.gle/LJzDXmkzZVFuxUL87">
                                Inscriptions </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- nav bar -->
    <div class="navigation">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">
                    <img src="/images/logo.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="/"> Accueil </a>
                        </li>


                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/mission">Mission</a>
                        </li> -->



                        <li class="nav-item">
                            <a class="nav-link" href="/commissions">Commissions</a>
                        </li>



                        <li class="nav-item">
                            <a class="nav-link" href="/news">Actualités</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="/civil-space">Civil Space</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/annuaire">Annuaire</a>
                        </li>


                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/team">Équipe</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/annulaire">Annulaire GC</a>
                        </li> -->

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>