<!-- blog -->
<section class="section bg-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <!-- <h5 class="section-title-sm">Latest News</h5> -->
        <h2 class="section-title section-title-border-gray">GC Networking</h2>
      </div>
      <div class="col-lg-12 text-center">
        <p class=" text-white font-size-0">
          Inscrivez-vous dans notre programme de networking entre les ingénieurs de Génie Civil sortis de l'ENSTP!
        </p>
        <i class="text-white font-size-4">Ces données serviront à l'élaboration de l'annuaire du Club Génie Civil</i>
      </div>

        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScUNE8RcRiMTZrY0FCF1UhExl43tb_7J41IiT4QnueAHMAPVA/viewform?usp=sf_link" class="btn btn-secondary translateY-25">Je m'enregistre!</a>


    </div>
  </div>
</section>
<!-- /blog -->