  <!-- blog -->
  <section class="section bg-gray">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <!-- <h5 class="section-title-sm">Latest News</h5> -->
          <h2 class="section-title section-title-border-gray">Actualités du Club GC ENSTP</h2>
        </div>
  
  
  
        <!-- blog-item -->
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card">
            <div class="card-img-wrapper overlay-rounded-top">
              <img class="card-img-top" src="https://via.placeholder.com/512x288.jpg"
                alt="clubgcenstp-news-thumbnail">
            </div>
            <div class="card-body p-0">
              <div class="d-flex">
                <div class="py-3 px-4 border-right text-center">
                  <h3 class="text-primary mb-0">14</h3>
                  <p class="mb-0">Feb</p>
                </div>
                <div class="p-3">
                  <a href="/news/info-1"
                    class="h4 font-primary text-dark">Enim ad minim veniam</a>
                  <p>by Bogital</p>
                </div>
              </div>
            </div>
          </article>
        </div>
  
  
  
        <!-- blog-item -->
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card">
            <div class="card-img-wrapper overlay-rounded-top">
              <img class="card-img-top" src="https://via.placeholder.com/512x288.jpg"
                alt="clubgcenstp-news-thumbnail">
            </div>
            <div class="card-body p-0">
              <div class="d-flex">
                <div class="py-3 px-4 border-right text-center">
                  <h3 class="text-primary mb-0">14</h3>
                  <p class="mb-0">Feb</p>
                </div>
                <div class="p-3">
                  <a href="/news/info-2"
                    class="h4 font-primary text-dark">Minim veniam</a>
                  <p>by Bogital</p>
                </div>
              </div>
            </div>
          </article>
        </div>
  
  
  
        <!-- blog-item -->
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card">
            <div class="card-img-wrapper overlay-rounded-top">
              <img class="card-img-top" src="https://via.placeholder.com/512x288.jpg"
                alt="clubgcenstp-news-thumbnail">
            </div>
            <div class="card-body p-0">
              <div class="d-flex">
                <div class="py-3 px-4 border-right text-center">
                  <h3 class="text-primary mb-0">8</h3>
                  <p class="mb-0">Jan</p>
                </div>
                <div class="p-3">
                  <a href="/news/info-3"
                    class="h4 font-primary text-dark">Excepteur sint occaecat</a>
                  <p>by Bogital</p>
                </div>
              </div>
            </div>
          </article>
        </div>
  
  
      </div>
    </div>
  </section>
  <!-- /blog -->