  <!-- blog -->
  <section class="section bg-gray">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <!-- <h5 class="section-title-sm">Latest News</h5> -->
          <h2 class="section-title section-title-border-gray">Actualités du Club GC ENSTP</h2>
        </div>
  
  
  
        <!-- blog-item -->
        <div href="/news/tournois-club-gc-2019" class="col-lg-4 col-sm-6 mb-4">
          <article class="card">
            <div class="card-img-wrapper overlay-rounded-top">
              <img class="card-img-top" src="/images/news/tournois-small.jpg"
                alt="clubgcenstp-news-thumbnail">
            </div>
            <div class="card-body p-0">
              <div class="d-flex">
                <div class="py-3 px-4 border-right text-center">
                  <h3 class="text-primary mb-0">14</h3>
                  <p class="mb-0">Feb</p>
                </div>
                <div class="p-3">
                  <a href="/news/tournois-club-gc-2019"
                    class="h4 font-primary text-dark">Tournois Club GC 2019</a>
                  <p>by Club GC</p>
                </div>
              </div>
            </div>
          </article>
        </div>
  
  
  
        <!-- blog-item -->
        <div href="/news/conference-intelligence-artificielle" class="col-lg-4 col-sm-6 mb-4">
          <article class="card">
            <div class="card-img-wrapper overlay-rounded-top">
              <img class="card-img-top" src="/images/news/cais.jpg"
                alt="clubgcenstp-news-thumbnail">
            </div>
            <div class="card-body p-0">
              <div class="d-flex">
                <div class="py-3 px-4 border-right text-center">
                  <h3 class="text-primary mb-0">18</h3>
                  <p class="mb-0">Feb</p>
                </div>
                <div class="p-3">
                  <a href="/news/conference-intelligence-artificielle"
                    class="h4 font-primary text-dark">Conférence sur l’intelligence artificielle
                  </a>
                  <p>by Club GC</p>
                </div>
              </div>
            </div>
          </article>
        </div>
  
  
  
        <!-- blog-item -->
        <div href="/news/parrainage" class="col-lg-4 col-sm-6 mb-4">
          <article class="card">
            <div class="card-img-wrapper overlay-rounded-top">
              <img class="card-img-top" src="/images/news/1550x600-President-KACDEU-W-Baudoin-Parrainage-Club-GC-Premier-Edition.jpg"
                alt="clubgcenstp-news-thumbnail">
            </div>
            <div class="card-body p-0">
              <div class="d-flex">
                <div class="py-3 px-4 border-right text-center">
                  <h3 class="text-primary mb-0">8</h3>
                  <p class="mb-0">Jan</p>
                </div>
                <div class="p-3">
                  <a href="/news/parrainage"
                    class="h4 font-primary text-dark">Parainage</a>
                  <p>by Club GC</p>
                </div>
              </div>
            </div>
          </article>
        </div>
  
  
      </div>
    </div>
  </section>
  <!-- /blog -->